body {
    background-color: lightblue;
}

/* navigation */
.inline-block li {
    display: inline-block;
    vertical-align: top;
    background-color: purple;
    border-radius: 3px;
    color: white;
}

.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}

.logo img {
    max-width: 100px;
}

nav {
    display: flex;
    text-align: center;
}

nav li {
    padding: 25px;
}

ul {
    width: 50%;
    padding: 0 35%;
    text-align: center;
}

/* hero image  */
.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

/* footer */
footer {
    background-color: #373738;
    color: white;
    display: flex;
}

footer li {
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    margin-left: 7%;
}

.mySkills h1 {
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexContainer div {
    width: 50%;
    padding:6%;
    margin: 0 auto;
}

/* Style the tab */
.tabs{
    width:60%;
    height:auto;
    margin:0 auto;
}

/* tab list item */
.tabs .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
}
.tabs .tabs-list li{
    width:100px;
    float:left;
    margin:0px;
    margin-right:2px;
    padding:10px 5px;
    text-align: center;
    background-color:cornflowerblue;
    border-radius:3px;
}
.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color:white;
}

/* Tab content section */
.tabs .tab{
    display:none;
    width:100%;
    min-height:250px;
    height:auto;
    border-radius:3px;
    padding:20px 15px;
    background-color:lavender;
    color:darkslategray;
    clear:both;
}
.tabs .tab h3{
    border-bottom:3px solid cornflowerblue;
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}
.tabs .tab p{
    line-height:20px;
    letter-spacing: 1px;
}

/* When active state */
.active{
    display:block !important;
}
.tabs .tabs-list li.active{
    background-color:lavender !important;
    color:black !important;
}
.active a{
    color:black !important;
}

/* media query */
@media screen and (max-width:360px){
    .tabs{
        margin:0;
        width:96%;
    }
    .tabs .tabs-list li{
        width:80px;
    }
}

.myWork {
    text-align: center;
}

.myWork h1 {
    padding: 5%;
}

.workGrid {
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr;
grid-template-areas:
"pic1 project1"
"project2 pic2";
}

#pic1 img {
    width: 75%;
}

#pic2 img {
    padding-bottom: 15%;
    width: 75%;
    height: auto;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .workGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "pic1"
    "project1"
    "project2"
    ;
    }
}
